form {
  display: inline-block;
  width: 188px;
}

input {
  margin: 20px 0px 10px 30px;
}

ul {
  margin: 5px 0px 0px 30px;
}

li {
  margin-top: 10px;
  width: 200px;
}

p {
  text-align: center;
}

img {
  width: 200px;
}
